In [1]:
import numpy as np

In [2]:
import pandas as pd

In [14]:
pure_data = pd.read_csv('HappinessAlcoholConsumption.csv',delimiter=',')
pure_data[['Country','HDI','Beer_PerCapita']].head()

       Country  HDI  Beer_PerCapita
0      Denmark  928             224
1  Switzerland  943             185
2      Iceland  933             233
3       Norway  951             169
4      Finland  918             263

In [7]:
pure_data.tail()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
117,Tanzania,Sub-Saharan Africa,south,3.666,533,878.000,36,6,1
118,Liberia,Sub-Saharan Africa,north,3.622,432,455.000,19,152,2
119,Benin,Sub-Saharan Africa,north,3.484,512,789.000,34,4,13
120,Togo,Sub-Saharan Africa,north,3.303,500,577.000,36,2,19
121,Syria,Middle East and Northern Africa,north,3.069,536,2.058,5,35,16

In [15]:
pure_data.Country

0          Denmark
1      Switzerland
2          Iceland
3           Norway
4          Finland
          ...
117       Tanzania
118        Liberia
119          Benin
120           Togo
121          Syria
Name: Country, Length: 122, dtype: object

In [47]:
pure_data[pure_data.Beer_PerCapita>200][pure_data.Spirit_PerCapita>100][['Country','Beer_PerCapita','Spirit_PerCapita']]

C:\Users\maksp\AppData\Local\Temp\ipykernel_37384\2499385653.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pure_data[pure_data.Beer_PerCapita>200][pure_data.Spirit_PerCapita>100][['Country','Beer_PerCapita','Spirit_PerCapita']]

                Country  Beer_PerCapita  Spirit_PerCapita
4               Finland             263               133
5                Canada             240               122
12        United States             249               158
14              Germany             346               117
15               Brazil             245               145
17              Ireland             313               118
18           Luxembourg             236               133
21       United Kingdom             219               126
23               Panama             285               104
25       Czech Republic             361               170
33                Spain             284               157
45               Belize             263               114
49   Russian Federation             247               326
50               Poland             343               215
53            Lithuania             343               244
59               Latvia             281               216
61             Paraguay             213               117
62              Romania             297               122
63              Estonia             224               194
72               Serbia             283               131
77              Hungary             234               215
96              Ukraine             206               237
102            Bulgaria             231               252

In [50]:
pure_data.loc[(pure_data.Beer_PerCapita>200) & (pure_data.Spirit_PerCapita>100),['Country','Beer_PerCapita','Spirit_PerCapita']]

                Country  Beer_PerCapita  Spirit_PerCapita
4               Finland             263               133
5                Canada             240               122
12        United States             249               158
14              Germany             346               117
15               Brazil             245               145
17              Ireland             313               118
18           Luxembourg             236               133
21       United Kingdom             219               126
23               Panama             285               104
25       Czech Republic             361               170
33                Spain             284               157
45               Belize             263               114
49   Russian Federation             247               326
50               Poland             343               215
53            Lithuania             343               244
59               Latvia             281               216
61             Paraguay             213               117
62              Romania             297               122
63              Estonia             224               194
72               Serbia             283               131
77              Hungary             234               215
96              Ukraine             206               237
102            Bulgaria             231               252

In [23]:
pure_data[['Country']].count()

Country    122
dtype: int64

In [46]:
pure_data.loc[(pure_data.Beer_PerCapita>200) & (pure_data.Spirit_PerCapita>100), 'Country'].count()

23

In [25]:
pure_data[['Beer_PerCapita']].sum()

Beer_PerCapita    16783
dtype: int64

In [26]:
pure_data[pure_data.Beer_PerCapita==pure_data.Beer_PerCapita.min()]

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
32,Qatar,Middle East and Northern Africa,north,6.375,855,59.324,1,42,7
107,Haiti,Latin America and Caribbean,north,4.028,496,735.000,1,326,1
109,Comoros,Sub-Saharan Africa,south,3.956,502,775.000,1,3,1

In [27]:
pure_data[pure_data.Beer_PerCapita==pure_data.Beer_PerCapita.max()]

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
90,Namibia,Sub-Saharan Africa,south,4.574,645,4.561,376,3,1

In [28]:
pure_data.Beer_PerCapita.describe()

count    122.000000
mean     137.565574
std      104.817353
min        1.000000
25%       38.250000
50%      125.500000
75%      224.750000
max      376.000000
Name: Beer_PerCapita, dtype: float64

In [29]:
pure_data.Beer_PerCapita.mean()

137.5655737704918

In [30]:
pure_data.Beer_PerCapita.median()

125.5

In [31]:
pure_data.groupby('Region').Beer_PerCapita.mean()

Region
Australia and New Zealand          232.000000
Central and Eastern Europe         170.074074
Eastern Asia                        93.250000
Latin America and Caribbean        159.478261
Middle East and Northern Africa     24.818182
North America                      244.500000
Southeastern Asia                   79.600000
Sub-Saharan Africa                  78.464286
Western Europe                     216.450000
Name: Beer_PerCapita, dtype: float64

In [34]:
pure_data.groupby('Region').min()[['Beer_PerCapita']]

                                 Beer_PerCapita
Region
Australia and New Zealand                   203
Central and Eastern Europe                   19
Eastern Asia                                 77
Latin America and Caribbean                   1
Middle East and Northern Africa               1
North America                               240
Southeastern Asia                            57
Sub-Saharan Africa                            1
Western Europe                               85

In [41]:
north_alcohol = pure_data[pure_data['Hemisphere'] == 'north'][['Beer_PerCapita', 'Spirit_PerCapita', 'Wine_PerCapita']].sum()
south_alcohol = pure_data[pure_data['Hemisphere'] == 'south'][['Beer_PerCapita', 'Spirit_PerCapita', 'Wine_PerCapita']].sum()
alcohol_comparison = pd.DataFrame({'Northern Hemisphere': north_alcohol, 'Southern Hemisphere': south_alcohol})
alcohol_comparison

                  Northern Hemisphere  Southern Hemisphere
Beer_PerCapita                  12581                 3042
Spirit_PerCapita                 9870                  839
Wine_PerCapita                   6707                 1332

In [40]:
pure_data.groupby('Region').agg({'HappinessScore': 'mean', 'Beer_PerCapita': 'mean'})

                                 HappinessScore  Beer_PerCapita
Region
Australia and New Zealand              7.323500      232.000000
Central and Eastern Europe             5.383444      170.074074
Eastern Asia                           5.477000       93.250000
Latin America and Caribbean            6.061000      159.478261
Middle East and Northern Africa        5.443727       24.818182
North America                          7.254000      244.500000
Southeastern Asia                      5.492000       79.600000
Sub-Saharan Africa                     4.151464       78.464286
Western Europe                         6.731400      216.450000